.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 80%;
  width: 45%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal--close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal--fav {
  position: absolute;
  top: 55px;
  left: 60px;
}



.photo-details-modal--images {
  
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal--image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}
.photo-details-modal--image img {
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
  height: auto;
  object-fit: scale-down;
}

.modal-container {
  
  margin: 24px;
  padding: 8px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
}



.photo-similar-modal--image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.photo-details-modal--images div img {
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
}

.photo-details-modal--top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal--photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal--header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 40px;
  width: 90%;
}


.photo-list--user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-modal--user-details {
  margin-left: 55px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.photo-modal--users-details {
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}


.photo-list--username-info {
  display: flex;
  flex-direction: column;
}

.similar-fav {
  position: relative;
  top: -60px; 
  left: 10px;
}

.photo-list--user-info {
  font-weight: 500;
  font-size: 12px;
}