.photo-list--fav-icon {
  position: absolute;
  top: 8px;
  left: 8px;
  cursor: pointer;
  background-color: #EEEEEE;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-list--image-container {
  position: relative;
}